.message {
    background-color: blanchedalmond;
    padding: 30px;
    display: flex;

}

.message img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;

}

.message .name {
    /*background-color: chocolate;*/
    height: 30px;
    width: 100px;
    color: red;
    position: relative;
    top: 0px;
    left: 100px;

}

.message .name::after {
    content: "\a";
    white-space: pre;
}

.message .text {
    color: blue;
    /*background-color: aliceblue;*/
    height: 70px;
    width: 350px;
    position: relative;
    top: 15px;
    left: 0px;
}

.message .text::before {
    content: "\a";
    white-space: pre;
}

.message .time {
    color: darkslategrey;
    position: relative;
    top: 58px
}
