.someClass {

}

.error {
    border: 1px solid red;
}
.ok {
    border: 1px solid blue;
}
.bll {
    margin-left: 600px;

}
.errorText {
    font-size: 18px;
    margin: 0 10px
}
.buttonAdd {
    margin-right: 10px;
    font-size: 18px;
}
.countOfUsers {
    font-size: 18px;
    font-weight: bold;
    color: darkmagenta;
    margin-left: 15px
}